Newshore/Newshore.Test.Integration/Service References/SspaServiceReference/SspaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewshoreWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewshoreWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonType" nillable="true" type="tns:PersonType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonType" nillable="true" type="tns:ArrayOfPersonType" />
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonType" nillable="true" type="tns:PersonType" />
</xs:schema>